<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
	<table style="width:100%;">
  <tr>
    <td>D.O.B </td>
    <td>07/09/1995</td>
  </tr>

  <tr>
    <td>Height</td>
    <td>6 feet</td>
  </tr>

  <tr>
    <td>Religion</td>
    <td>Hindu</td>
  </tr>

  <tr>
    <td>Cast</td>
    <td>Bhatt, Brahmin</td>
  </tr>

  <tr>
    <td>Working in</td>
    <td>VGSPL, Pune</td>
  </tr>
</table>
</div><!--//summary-->
</section><!--//section-->