<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Achievements</h2>
                <div class="intro">
                    <p>This section describes the whole chain of educational peaks I have achieved till now, starting from the very begining.</p>
                </div><!--//intro-->
                <div class="item">
                    - <span class="project-tagline">NMCMSSE scholarship holder worth 24000/- Rs. provided by HRD govt. Bihar.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Got 1st prize in a quiz contest and received prize from DSP of Ara.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Got 2nd prize in a quiz contest and got SIIT free cit package worth 850/- Rs.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Got A grade in All India computer knowledge competition by NRIKD.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Got 3rd prize in english elocution.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Got shortlisted in best major project of 2016 at college level.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Host of college annual program for 3 continious years.</span>
                </div><!--//item-->
                <div class="item">
                    - <span class="project-tagline">Ran for marathon "Run Bhopal Run".</span>
                </div><!--//item-->
            </section><!--//section-->